body {
    margin: 20px;
    padding: 0;
    background-color: lightslategray;
    background-image:url('casinoimg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;
  }
  .wheel{
    font-size: 50px;
    margin: 20px;
    color:black;
    text-align: center;
  }
  .betAmount{
    font-size: 50px;
    margin: 5px;   
    color: black;
    text-align: center;
  }
  .spin{
    font-size: 50px;
    margin: 5px; 
    text-align: center;
  }
  .instructions{
    font-size: 50px;
    color: rgb(10, 2, 2); 
    text-align: left;
  }
  .highlightme{
    background-color: lightblue; 
  }
  .result{
    background-color: gold;
    font-size: 50px;
    color: rgb(10, 2, 2); 
    text-align: center;
  }
  .grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;}